

.listing-location {
  font-size: 11pt;
  color: var(--gray-700);
  margin-bottom: 15px;
  margin-left: 15rem;
}


label, input {
  display: block;
}
label {
  color: violet;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}

@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 200px;
  }
}