.alert-success {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


.listing-photo {
  height: 280px;
  width: 40%;
  object-fit: cover;
  padding: 2rem;
  border-radius: 30px;
  margin-left: 15rem;
  border: 2px solid black;
}

.listing-heading {
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}

.listing-location {
  font-size: 11pt;
  color: var(--gray-700);
  margin-bottom: 15px;
  margin-left: 15rem;
}

.listing-features > .section-heading {
  color: gray;
  font-size: 14pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 10pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 12pt;
  margin-bottom: 15px;
}

label, input {
  display: block;
}
label {
  color: violet;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 10pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 200px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 200px;
  }
}