.alert-success {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin-left: 10rem;
}

.apply-button {
  color: #3c763d;
  margin-left: 10rem;
}


.listing-photo {
  height: 400px;
  width: 80%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-heading {
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10rem;
}

.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}

.listing-location {
  font-size: 14pt;
  margin-bottom: 15px;
  margin-left: 10rem;
}

.listing-features > .section-heading {
  border: 3px solid transparent;
  border-radius: 30px;
  color: black;
  background-color: violet;
  border-color: violet;
  font-size: 12pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
  margin-left: 10rem;
}

.listing-features li {
  font-size: 10pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  border: 3px solid transparent;
  border-radius: 30px;
  background-color: violet;
  border-color: violet;
  font-size: 12pt;
  margin-bottom: 15px;
  margin-left: 10rem;
}

label, input {
  display: block;
}
label {
  color: violet;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
  margin-left: 10rem;
}
input {
  font-size: 10pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 200px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
  margin-left: 10rem;
}
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 200px;
  }
}